@import "/src/app/styles/colours.scss";

app-project,
app-post {
  img {
    display: block;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  code {
    color: $blue;
    background-color: $paleBlue;
    padding: 0.2em;
    white-space: pre;
  }

  div.code p {
    code:only-child {
      display: block;
      width: 75%;
      margin: auto;
    }
  }

  blockquote {
    margin-left: 0em;
    margin-right: 0em;
    padding: 0.4em 1em;
    background: $paleBlue;
    border-left: $blue 4px solid;
  }
}
