@import "/src/app/styles/colours.scss";
@import "/src/app/styles/sizes.scss";

.cms-content {
  img {
    display: block;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: $mobileWidth) {
      width: 100%;
    }
  }

  code {
    color: $blue;
    background-color: $paleBlue;
    padding: 0.2em;
    white-space: pre;
  }

  div.code p {
    code:only-child {
      display: block;
      margin: auto;
      overflow: overlay;
      padding: 0.5em;

      @media only screen and (max-width: $mobileWidth) {
        width: 100%;
      }
    }
  }

  blockquote {
    margin-left: 0em;
    margin-right: 0em;
    padding: 0.4em 1em;
    background: $paleBlue;
    border-left: $blue 4px solid;
  }
}
