@import "/src/app/styles/colours.scss";
@import "/src/app/styles/sizes.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  background-color: $blue;
  padding: 0 2em;
  color: $white;

  @media only screen and (max-width: $mobileHeaderWidth) {
    justify-content: center;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;

  &.mobile {
    display: none;
    position: absolute;
    height: 30px;
    top: 15px;
    left: 15px;
    cursor: pointer;
    padding: 0;

    @media only screen and (max-width: $mobileHeaderWidth) {
      display: flex;
    }

    img {
      height: 30px;
    }
  }

  &.right {
    display: flex;

    @media only screen and (max-width: $mobileHeaderWidth) {
      display: none;
    }
  }
}

a {
  padding: 0em 1em;
  display: grid;
  justify-content: center;
  align-content: center;
  color: $white;
  text-decoration: none;

  &::after {
    content: "";
    float: right;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-100%);
    background-color: $white;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  &:hover::after,
  &.current::after {
    opacity: 1;
    transform: translate3d(0, 0.1em, 0);
  }
}
