<div class="header">
  <a class="menu mobile" (click)="toggleMobileMenu.emit()">
    <img src="assets/img/menu.svg" alt="Mobile menu button" />
  </a>
  <div class="menu left">
    <a routerLink="">Toby Smith</a>
  </div>
  <div class="menu right">
    <app-search></app-search>

    <a routerLink="about" routerLinkActive="current"><span>About</span></a>
    <a routerLink="projects" routerLinkActive="current"><span>Projects</span></a>
    <a routerLink="blog" routerLinkActive="current"><span>Blog</span></a>
    <a routerLink="contact" routerLinkActive="current"><span>Contact</span></a>
  </div>
</div>
<ng-progress
  [direction]="'ltr+'"
  [speed]="200"
  [trickleSpeed]="300"
  [debounceTime]="0"
  [meteor]="true"
  [spinner]="false"
  [thick]="true"
  [fixed]="false"
  [min]="8"
  [max]="100"
  ease="linear"
  color="dodgerblue"
  aria-label="progress bar"
></ng-progress>
