@import '../../../styles.scss';

a {
	text-decoration: underline;
	color: $whiteText;
}

.main {
	background-color: $greyBackground;
}

.copyright {
	color: white;
	text-align: center;
	padding: 20px 0px;
}