@import '../../../styles.scss';

.content {
	width: 100%;
	margin: auto;
	text-align: center;
	user-select: none;
}

.message {
	margin-top: 50px;
}

.title {
	font-size: 80px;
}

.message {
	font-size: 36px;
}