@import '../../../../styles.scss';

:host {
	border-radius: 5px;
}

a, p {
	text-decoration: none;
}

a {
	cursor: pointer;
}

.content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.title {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	color: $blackText;
	font-size: 28px;
}

.split {
	margin: 0px;
	margin-top: 10px;
  border-top: 1px solid #00000014;
}

.preview-image {
	max-height: 200px;
	margin: 20px 20px 0px 20px;
	text-align: center;
	transition: all .2s ease-in-out;
	height: 100%;
}

.preview-image img {
	max-width: 100%;
	max-height: inherit;
}

.preview-image:hover {
	transform: scale(1.1);
	opacity: 0.8;
}

.preview {
	margin: 20px 20px 0px 20px;
	text-align: left;
	color: $greyText;
	font-size: 18px;
	line-height: 27px;
	flex-grow: 1;
}

.tags {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: left;
	padding-left: 15px;
}

.tag {
	background-color: #e0e0e0;
	margin: 5px;
	padding: 8px 8px;
	border-radius: 5px;
	border: 1px #c5c5c5 solid;
	transition: transform ease 0.2s;
	text-decoration: none;
	color: $blackText;
}

.tag:hover {
	transform: scale(1.05);
}

.date {
	margin: 20px;
	color: $greyText;
	fill: $greyText;
	display: flex;
	align-items: center;
}

.date p {
	margin-left: 10px;
}