@import '../../../../styles.scss';

:host {
	border-radius: 5px;
}

a, p {
	text-decoration: none;
}

a {
	cursor: pointer;
}

.content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.title {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	color: $blackText;
	font-size: 28px;
}

.split {
	margin: 0px;
	margin-top: 10px;
  border-top: 1px solid #00000014;
}

.preview-image {
	max-height: 250px;
	margin: 20px 20px 0px 20px;
	text-align: center;
	transition: all .2s ease-in-out;
}

.preview-image:hover {
	transform: scale(1.1);
	opacity: 0.8;
}

.main-content {
	flex-grow: 1;
}

.preview {
	margin: 20px;
	text-align: left;
	color: $greyText;
	font-size: 18px;
	line-height: 27px;
}

.date {
	margin: 20px;
	color: $greyText;
	fill: $greyText;
	display: flex;
	align-items: center;
}

.date p {
	margin-left: 10px;
}