<div class="content">
	<a class="main-content" (click)="navigate()">
		<div class="title">
			<p>{{ getTitle() }}</p>
		</div>
		<hr class="split"/>
		<div class="preview-image" *ngIf="getPreviewImage()">
			<img src="{{ getPreviewImage() }}"/>
		</div>
		<div class="preview">
			<p>{{ getPreview() }}</p>
		</div>
	</a>
	<div class="tags">
		<a class="tag" routerLink="/tag/{{ getTagName(tag) }}" *ngFor="let tag of getTags()">{{ getTagDisplayName(tag) }}</a>
	</div>
	<a (click)="navigate()">
		<div class="date">
			<app-icon [icon]="dateIcon"></app-icon>
			<p>{{ getDate() }}</p>
		</div>
	</a>
</div>