---
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import BlogListItem from "../../components/Blog/BlogListItem.astro";
import RssLogo from "../../assets/rss.svg";

const blogPosts = await getCollection("blog");
const sortedPosts = blogPosts.sort((a, b) => a.data.sortWeight - b.data.sortWeight);
---

<Layout title="Blog Posts">
  <div class="header">
    <h1>Blog Posts</h1>

    <a class="rss" href="/blog/rss.xml" target="_blank">
      <img src={RssLogo.src} alt="RSS feed" />
    </a>
  </div>

  {sortedPosts.map(post => <BlogListItem post={post} />)}
</Layout>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .rss {
    padding: 0.5em;
  }
</style>
