@import '../../../../styles.scss';

hr {
	margin: 0px;
	border-top: 1px solid $greyHr;
	margin: 20px -20px;
}

input, textarea {
	border: 1px black solid;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

textarea {
	resize: vertical;
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: stretch;
}

input.submit {
	background-color: rgb(216, 216, 216);
	cursor: pointer;
	width: 75px;
}

.content {
	width: 100%;
	margin: 30px auto auto auto;
}

.header {
	background-color: $white;
	border-radius: 5px;
	padding: 10px 15px 15px 15px;
	text-align: center;
	margin: 30px 30px 30px 30px;
}

.header-title {
	font-size: 32px;
	text-transform: capitalize;
}

.header-description {
	margin-top: 10px;
	font-size: 18px;
}

.main-content {
	padding: 0px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}

.area {
	background-color: $white;
	border-radius: 5px;
	margin: 30px;
	padding: 20px;
}

.bio {
	font-size: 20px;
	line-height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.me {
	width: 175px;
	border-radius: 5px;
	float: left;
	margin-right: 30px;
}

.about-para {
	margin-top: 20px;
}

.about-para a {
	color: $greyText;
}

.about-para a:hover {
	color: $blackText;
}

.plymouth {
	text-align: center;
	align-self: flex-end;
	margin-top: 30px;
	margin-bottom: 30px;
}

.plymouth-img {
	width: 65%;
}

.message {
	flex-grow: 1;
	min-height: 150px;
}