<div>
	<div class="content">
		<div class="header">
			<h1 class="header-title">About Me</h1>
			<p class="header-description">Who I am, and details about my software development skillset</p>
		</div>

		<div class="main-content">

			<div class="area bio">
				<p class="about-para">I'm a {{ getAge() }} year old Computing and Video Games student at The University of
					Plymouth.
					<b>I'm currently looking for a graduate job in and around London.</b>
				</p>

				<p class="about-para">I started programming at 16 using Python but quickly moved on to C# which remains one of
					my primary skills
					today.
				</p>

				<p class="about-para">At University, my course is split 50% between video games and standard software
					development. This means
					I've been able to gain an extensive education in using modern software development tools, techniques, and
					frameworks.
				</p>

				<p class="about-para">As a part of my studies, from June '18 to August '19 I completed a placement year
					at <a href="https://www.flooid.com/uk" target="_blank">Flooid Ltd.</a> who at the time were branded as PCMS
					Group Ltd. This was an amazing,
					eye-opening opportunity to gain real-world software development experience. As well as constantly improving my
					abilities, I was also able
					to confirm that I truly enjoy software development on an industry and career-wide scale.
				</p>
			</div>

			<div class="area">
				<app-list>
					<app-list-item icon="assets\img\csharp.png" title="C#" content="WPF, ASP.NET, Entity Framework, .NET Framework, .NET Core, Nuget"></app-list-item>
					<app-list-item icon="assets\img\java.png" title="Java" content="Swing, JAXB, Apatche Camel, Spring, Maven"></app-list-item>
					<app-list-item icon="assets\img\typescript.png" title="TypeScript" content="Node, NPM, Angular, Ionic, Cordova, Express"></app-list-item>
					<app-list-item icon="assets\img\cplusplus.png" title="C/C++" content="OpenGL, GLM"></app-list-item>
					<app-list-item icon="assets\img\php.png" title="PHP" content="Alexa Skill SDK"></app-list-item>
					<app-list-item icon="assets\img\git.png" title="Version Control" content="Git, Mercurial, Github, Kallithea, GitKraken, Sourcetree"></app-list-item>
					<app-list-item icon="assets\img\vs.png" title="IDEs and Other Tools" content="Visual Studio, VS Code, IntelliJ, Eclipse, Postman, Beyond Compare"></app-list-item>
				</app-list>
			</div>
		</div>
	</div>
</div>