<div>
	<div class="content">
		<div class="header">
			<h1 class="header-title">About Me</h1>
			<p class="header-description">Who I am, and details about my software development skillset</p>
		</div>

		<div class="main-content">

			<div class="area bio">
				<div>
					<div #imgpara class="img-para" [class.img-para-short]="shortImgPara()">
						<img class="me" src="assets/img/me.png"  [class.me-short]="shortImgPara()" />
					
						<p class="about-para">I'm a {{ getAge() }}-year-old Computing and Video Games student at The University of Plymouth.
							<b>I'm currently looking for a graduate software development job in and around London.</b>
						</p>
					</div>
					
					<p class="about-para">I started programming at 16 using Python but quickly moved on to C#, which remains one of
						my primary skills today.
					</p>
					
					<p class="about-para">At University, my course is split 50% between video games and standard software
						development. This means I've been able to gain an extensive education in using modern software
						development tools, techniques, and frameworks.
					</p>
					
					<p class="about-para">As a part of my studies, from June 2018 to August 2019, I completed a placement year
						at <a href="https://www.flooid.com/uk" target="_blank">Flooid Ltd.</a> (formerly PCMS Group Ltd.).
						My placement was a fantastic, eye-opening opportunity to gain real-world software development experience.
						As well as continually improving my abilities, I was also able to confirm that I genuinely enjoy software
						development on industry and career-wide scales.
					</p>
				</div>

				<a class="plymouth" target="_blank" href="https://plymouth.ac.uk">
					<img class="plymouth-img" src="assets/img/plymouth.png" />
				</a>

			</div>

			<div class="area">
				
			</div>
		</div>
	</div>
</div>