<div>
	<div class="content">
		<div class="header">
			<h1 class="header-title">About Me</h1>
			<p class="header-description">Who I am, and details about my software development skillset</p>
		</div>

		<div class="main-content">

			<div class="area bio">
				<div>
					<div #imgpara class="img-para" [class.img-para-short]="shortImgPara()">
						<img class="me" src="assets/img/me.png"  [class.me-short]="shortImgPara()" />
					
						<p class="about-para">I'm a {{ getAge() }}-year-old Computing and Video Games student at The University of Plymouth.
							<b>I'm currently looking for a graduate software development job in and around London.</b>
						</p>
					</div>
					
					<p class="about-para">I started programming at 16 using Python but quickly moved on to C#, which remains one of
						my primary skills today.
					</p>
					
					<p class="about-para">At University, my course is split 50% between video games and standard software
						development. This means I've been able to gain an extensive education in using modern software
						development tools, techniques, and frameworks.
					</p>
					
					<p class="about-para">As a part of my studies, from June 2018 to August 2019, I completed a placement year
						at <a href="https://www.flooid.com/uk" target="_blank">Flooid Ltd.</a> (formerly PCMS Group Ltd.).
						My placement was a fantastic, eye-opening opportunity to gain real-world software development experience.
						As well as continually improving my abilities, I was also able to confirm that I genuinely enjoy software
						development on industry and career-wide scales.
					</p>
				</div>

				<a class="plymouth" target="_blank" href="https://plymouth.ac.uk">
					<img class="plymouth-img" src="assets/img/plymouth.png" />
				</a>

			</div>

			<div class="area">
				<app-list>
					<app-list-item
										icon="assets\img\csharp.png"
										header="C#"
										content="WPF, ASP.NET, Entity Framework, .NET Framework, .NET Core, Nuget, Unity Game Engine">
					<p>C# is the language I have the most experience with.
					</p>
					<p>I was introduced to C# in college and spent the two years developing simple Windows tools using WPF and the .NET Framework.
					</p>
					<p>At university, all game development is taught using C# and the Unity Game Engine. While I am no longer pursuing a career in
						game development, I do have a reasonably strong understanding of how to use Unity.
					</p>
					<p>While at university I have continued to practice using WPF to refine my skills. While core software development modules
						are typically taught in Java, I have always been taking these principles and techniques home with me to practice in C#. 
					</p>
					<p>While on my placement year, I continued this process. During this time, I was taking industry-standard techniques and applying
						to my personal C# development projects.
					</p>
					<p>In my final year of university I have taught myself how to use ASP.NET Core with Entity Framework Core. This was to serve as
						the server-side code for an app which myself and a couple of coursemates were developing.
					</p>
					</app-list-item>

					<app-list-item
										icon="assets\img\java.png"
										header="Java"
										content="Swing, JAXB, Apatche Camel, Spring, Maven, MyBatis">
						<p>I was introduced to Java in my first year of university. During my studies I have used Java for either
							console applications or with Java Swing GUIs.
						</p>
						<p>While on my placement year, I gained a more in-depth experience of Java and used in exclusively for the first six months.
							During this time, I was writing integration software using Java with frameworks and tools like JAXB, Spring, and Maven.
						</p>
						<p>In the second half of my placement, I continued to use Java but only server-side while my total workload was full-stack.
							During this time, I continued to work with Spring and Maven and also picked up the use of MyBatis for database interactions.
						</p>
					</app-list-item>

					<app-list-item
										icon="assets\img\typescript.png"
										header="TypeScript"
										content="Node, NPM, Angular, Ionic, Cordova, Express, Mongoose">
						<p>During the second half of my placement year, I was working on a full-stack team. We were responsible for the development
							of two different mobile apps built in Angular using Typescript. I had very little prior knowledge of JavaScript, let alone
							TypeScript. Still, I like to think that I picked up a general understanding reasonably quickly. These apps used Ionic and
							Cordova to produce builds for the devices.
						</p>
						<p>Since returning to university, I have chosen to use Angular and Typescript in two different modules. The first was for a
							small website using the MEAN stack. This was also where I self-taught how to use Express and Mongoose.
						</p>
						<p>The second module was a group-work module, where we chose to develop a full-stack mobile app. In this time, we used the
							same Angular/Ionic/Cordova tech-stack that I had become familiar with on my placement year.
						</p>
					</app-list-item>
					<app-list-item
										icon="assets\img\cplusplus.png"
										header="C/C++"
										content="OpenGL, GLM">
						<p>I don't have much C/C++ experience, but I do have some. I used C for a module in my second year of university where I
							was learning how to program efficiently on micro-processors.
						</p>
						<p>In my final year of university, I gained more C/C++ experience by working with OpenGL. During this time, I learnt how
							to parse 3D model files like the Wavefront .obj, and the Collada .dae. I then learnt how to use OpenGL to render those
							models to the view. Towards the end of the project, I also optionally included a realistic gravity system without using
							a physics engine like Bullet.
						</p>
					</app-list-item>
					<app-list-item
										icon="assets\img\php.png"
										header="PHP"
										content="Alexa Skill SDK">
						<p>All my PHP knowledge is self-taught. The primary use for PHP that I have found is for the development of Skills for
							Amazon's personal assistant, Alexa. I found PHP to be a strong choice at the time because it was simple for me to drop
							a few simple PHP files on to my server via FTP and then configure the Amazon servers to communicate with them.
						</p>
						<p>Looking back now, if I were to develop Alexa skills with my current knowledge, I would use lightweight Node
							micro-services using TypeScript.</p>
					</app-list-item>
					<app-list-item
										icon="assets\img\git.png"
										header="Version Control"
										content="Git, Mercurial, Github, Kallithea, GitKraken, Sourcetree">
						<p>I have been using version control since the beginning of university. Initially, due to recommendations by my university,
							this was by using Bitbucket and Sourcetree.
						</p>
						<p>Since then, I have moved all my projects over to Github and am an avid supporter and user of GitKraken.
						</p>
						<p>While on my placement year, I became familiar with using Mercurial rather than Git. I also returned to using Sourcetree
							while I was at work because it supports both Git and Mercurial repositories.
						</p>
					</app-list-item>
					<app-list-item
										icon="assets\img\db.png"
										header="Databases"
										content="DB2, MongoDB, SQL Server, Datagrip, RoboMongo, SQuirreL">
						<p>During my placement I was introduced to the process of storing the data for an application in a database. Throughout the year I
							became familiar with IBM's Db2, as well as how to write database layers within server-side applications in Java.
						</p>
						<p>Since returning to university in my final year I have chosen to use databases in two modules. The first was MongoDB, which I used
							in conjunction with a Nodejs application using express. The second project was an ASP.NET Core application which used Entity Framework
							core in order to store data within a SQL Server database.
						</p>
					</app-list-item>
					<app-list-item
										icon="assets\img\vs.png"
										header="IDEs and Other Tools"
										content="Visual Studio, VS Code, IntelliJ, Eclipse, Postman, Beyond Compare">
						<p>For all C# development, my choice of IDE is Visual Studio. As well it supporting all .NET functionality, I regularly enjoy its
							many secondary features like Azure integrations and database tooling.
						</p>
						<p>For all TypeScript and web-based technology stacks, VS Code is my editor of choice.
						</p>
						<p>IntelliJ is my IDE of choice for Java development due to its extensive feature list. I am also familiar with Eclipse and have
							had minor experience with Netbeans. I am comfortable developing in any of the three.
						</p>
						<p>While developing any program which communicates over HTTP, I have found Postman to be a beneficial tool for testing endpoints.
							While I've been using it for a few years now, I know that I have only tapped into a portion of its full potential and I am keen
							to see what else it can offer developers.
						</p>
						<p>While my favourite Git client, GitKraken, has an extensive built-in merge tool, I prefer to use Beyond Compare for diffs and merges.
							My reasoning is simply that it is... Beyond Compare!
						</p>
					</app-list-item>
					<app-list-item
										icon="assets\img\azure.png"
										header="CI/CD"
										content="Jenkins, Azure Pipelines">
						<p>While working in my placement year, I was introduced to the idea of continuous integration pipelines through the use of Jenkins.
						</p>
						<p>While on my placement, because it is free, I started to use Azure Pipelines with my personal development projects. The use of
							a CI pipeline holds fewer advantages for a single developer who is not apart of a team. I continued to use Azure Pipelines,
							however, to ensure that all my unit tests pass on a machine other than my development environment.
						</p>
						<p>Since returning to university I have continued to use Azure Pipelines with my development projects.</p>
					</app-list-item>
				</app-list>
			</div>
		</div>
	</div>
</div>