@import "/src/app/styles/colours.scss";

.intro {
  display: flex;
  flex-direction: row;
}

.avatar {
  border-radius: 50%;
  max-width: 15em;
  max-height: 15em;
  margin-right: 2em;
}

.about-me {
  margin-top: 2em;
}

.tags {
  display: flex;
  flex-direction: row;
}
