@import "/src/app/styles/colours.scss";
@import "/src/app/styles/sizes.scss";

$externalsBreak1: 1285px;
$externalsBreak2: 960px;

@media only screen and (max-width: $mobileWidth) {
  .title {
    margin: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: $externalsBreak1) {
    flex-direction: row-reverse;
  }

  @media only screen and (max-width: $externalsBreak2) {
    flex-direction: column;
  }
}

.externals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;

  @media only screen and (max-width: $externalsBreak1) {
    flex-direction: column;
  }

  @media only screen and (max-width: $externalsBreak2) {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 0.5em;
  }

  @media only screen and (max-width: $mobileWidth) {
    grid-template-columns: 100%;
    margin-top: 0;
  }
}

.external {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media only screen and (max-width: $externalsBreak2) {
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  @media only screen and (max-width: $mobileWidth) {
    flex-direction: row !important;
  }

  img {
    height: 3em;
    width: 3em;
    margin-right: 0.5em;
  }

  h3,
  p {
    margin-top: 0em;
    margin-bottom: 0em;
  }

  p {
    color: $blue;
  }
}

a {
  text-decoration: none;

  h3 {
    position: relative;
    color: $black;
    width: fit-content;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: $black;
      opacity: 0;
      transition: opacity 300ms, transform 300ms;
    }
  }
}

.submit {
  background-color: $blue;
  border: $blue 1px solid;
  color: $white;
  border-radius: 3px;

  &:disabled {
    background-color: #eeeeee;
    border: #d0d0d0 1px solid;
    color: #9e9e9e;
  }
}

a:hover h3::after,
a:focus h3::after {
  opacity: 1;
  transform: translate3d(0, 0.05em, 0);
}

.contact-form {
  display: grid;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $externalsBreak1) {
    justify-content: stretch;
  }

  h2 {
    margin-top: 5em;

    @media only screen and (max-width: $externalsBreak1) {
      margin-top: 1em;
    }
  }

  input,
  textarea {
    font-size: 1em;
    padding: 0.2em;
    margin: 0.4em 0;
    min-width: 400px;

    @media only screen and (max-width: $mobileWidth) {
      min-width: 000px;
      width: 100%;
    }
  }

  #name {
    min-width: 200px;
  }
}

.recaptcha-terms {
  font-size: 0.7em;
  max-width: 400px;

  a {
    color: $blue;
  }
}
