<h1>Contact Me</h1>
<p>Feel free to reach out me to via any of the methods below</p>
<div class="externals">
  <a class="external" target="_blank" ref="noopener noreferrer" [href]="'mailto:' + environment.email">
    <img src="/assets/img/email.svg" />
    <div>
      <h3>Email</h3>
      <p>{{ environment.email }}</p>
    </div>
  </a>
  <a class="external" target="_blank" ref="noopener noreferrer" [href]="environment.github.url">
    <img src="/assets/img/github.svg" />
    <div>
      <h3>GitHub</h3>
      <p>{{ environment.github.username }}</p>
    </div>
  </a>
  <a class="external" target="_blank" ref="noopener noreferrer" [href]="environment.linkedin.url">
    <img src="/assets/img/linkedin.svg" />
    <div>
      <h3>LinkedIn</h3>
      <p>{{ environment.github.username }}</p>
    </div>
  </a>
  <a class="external" target="_blank" ref="noopener noreferrer" [href]="environment.facebook.url">
    <img src="/assets/img/facebook.svg" />
    <div>
      <h3>Messenger</h3>
      <p>{{ environment.facebook.username }}</p>
    </div>
  </a>
</div>

<div class="contact-form">
  <h2>Message Form</h2>
  <form autocomplete="off">
    <label for="name">Name</label><br />
    <input type="text" id="name" name="name" [disabled]="state !== 'unsent'" [(ngModel)]="name" /><br />

    <label for="email">Email</label><br />
    <input type="email" id="email" name="email" [disabled]="state !== 'unsent'" [(ngModel)]="email" /><br />

    <label for="message">Message</label><br />
    <textarea id="message" name="message" rows="5" [disabled]="state !== 'unsent'" [(ngModel)]="message"></textarea
    ><br />

    <input
      *ngIf="state === 'unsent' || state === 'saving'"
      type="button"
      value="Send Message"
      class="submit"
      [disabled]="!isValid || state === 'saving'"
      (click)="submit()"
    />
    <h3 *ngIf="state === 'sent'">Sent!</h3>
    <input *ngIf="state === 'error'" type="button" value="Error. Try Again?" (click)="reset()" />
  </form>
</div>
<re-captcha (resolved)="resolvedReCaptcha($event)" size="invisible" siteKey="{{ recaptchaPublicKey }}"></re-captcha>
