<div>
	<div class="content">
		<div class="title">
			<h1>Contact Me</h1>
			<p>Please feel free to use any method below to contact me</p>
		</div>
		<div class="main-content">

			<div class="area">
				<form class="contact-form" *ngIf="!messageSent">
					<h3 class="form-title">Contact form</h3>
					<p>Your name:<span class="required">*</span></p>
					<input type="text" name="name" [(ngModel)]="name"><br>
					<p>Your email:<span class="required">*</span></p>
					<input type="email" name="email" [(ngModel)]="email"><br>
					<p>Message:<span class="required">*</span></p>
					<textarea rows="4" name="message" [(ngModel)]="message"></textarea><br>
					<p class="error-message" *ngFor="let error of errors">{{ error }}</p>
					<input class="submit" type="button" value="Submit" (click)="onSubmit()">
				</form>

				<div class="success" *ngIf="messageSent">
					Message successfully sent!
				</div>
			</div>

			<div class="area">
				Todo. Will have links to email, linkedin, github, and messenger
			</div>

		</div>
	</div>
</div>