@import "/src/app/styles/colours.scss";

.externals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;
}

.external {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 3em;
    width: 3em;
    margin-right: 0.5em;
  }

  h3,
  p {
    margin-top: 0em;
    margin-bottom: 0em;
  }

  p {
    color: $blue;
  }
}

a {
  text-decoration: none;

  h3 {
    position: relative;
    color: $black;
    width: fit-content;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: $black;
      opacity: 0;
      transition: opacity 300ms, transform 300ms;
    }
  }
}

.submit {
  background-color: $blue;
  border: $blue 1px solid;
  color: $white;
  border-radius: 3px;

  &:disabled {
    background-color: #eeeeee;
    border: #d0d0d0 1px solid;
    color: #9e9e9e;
  }
}

a:hover h3::after,
a:focus h3::after {
  opacity: 1;
  transform: translate3d(0, 0.05em, 0);
}

.contact-form {
  display: grid;
  align-items: center;
  justify-content: center;

  h2 {
    margin-top: 5em;
  }

  input,
  textarea {
    font-size: 1em;
    padding: 0.2em;
    margin: 0.4em 0;
  }

  #name {
    min-width: 200px;
  }

  input,
  textarea {
    min-width: 400px;
  }
}
