* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-size: 1.05em;
}

body,
input {
  font-family: "Blinker", sans-serif;
}

hr {
  border: none;
  border-bottom: black 2px solid;
}
