@import '../../../../styles.scss';

hr {
	margin: 0px;
	border-top: 1px solid $greyHr;
	margin: 0px 0px;
}

.content {
	width: 100%;
	columns: 2;
	column-gap: 60px;
	margin-top: 60px;
}

@media only screen and (max-width: 949px) {
	.content {
		columns: 1;
	}
}

@media only screen and (max-width: $mobile-width) {
	.item {
		margin-left: 10px;
		margin-right: 10px;
	}

	.content {
	margin-top: 0px;
	}
}

.main-title {
	font-size: 42px;
	padding: 20px;
}

.item {
	background-color: $white;
	border-radius: 5px;
	break-inside: avoid;
	margin-bottom: 60px;
}

.skills-list {
	padding: 20px;
}

.header {
	padding: 20px;
}

@media only screen and (max-width: $mobile-width) {
	.item {
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

.tag {
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	min-width: 65px;
	text-decoration: none;
	color: $blackText;
}

.tag:hover {
	background-color: rgb(235, 235, 235);
}

.tag-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.tag-image {
	width: fit-content;
	margin: auto;
	height: 100%;
	max-width: 45px;
	max-height: 45px;
}

.tag-title {
	width: fit-content;
	margin: 10px auto auto auto;
}

@media only screen and (max-width: 708px) {
	.header {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}

	.me {
		float: none;
		margin: auto;
	}

	.main-title {
		padding: 0px;
	}
}

.header p {
	font-size: 18px;
	line-height: 27px;
	margin-top: 20px;
}

.item .title {
	font-size: 32px;
	text-align: center;
	padding: 20px;
}

.posts {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.post {
	width: 300px;
	flex-grow: 1;
}