<div class="grid">
	<div class="item about">
		<div class="title">
			<p>Welcome!</p>
		</div>
		<div class="body about-body">
			<p>My name is Toby.</p>
			<p>On this site you can find posts about all the software projects I have created over the last few years!</p>
			<p>Some are projects which I have created in my free time while others have been submissions as a part of my degree.</p>
			<p>Please feel free to look around and also to contact me using the methods on the contact page</p>
			<p><b>I am currently seeking a graduate job in and around London</b></p>
		</div>
	</div>
	<div class="item recent project">
		<div class="title">
			<p>Most recent project post:</p>
		</div>
		<div class="body">
			<app-category-item [post]="project"></app-category-item>
		</div>
	</div>
	<div class="item recent university">
		<div class="title">
			<p>Most recent university post:</p>
		</div>
		<div class="body">
			<app-category-item [post]="university"></app-category-item>
		</div>
	</div>
	<div class="item github">
		<div class="title">
			Github Recent Activity:
		</div>
		<div class="body">
			Something, something, Something, something, Something, something, Something, something
		</div>
	</div>
	<div class="item links">
		<div class="title">
			Quick Links:
		</div>
		<div class="body">
			E, G, L, M 
		</div>
	</div>
</div>