<div class="header" #header>
	<div class="content">
		<h1 class="title">Toby Smith's Portfolio</h1>
		<h1 class="title-mobile">Toby's Portfolio</h1>
		<h3 class="subtitle">Computer Science student at Plymouth University</h3>
		<h3 class="subtitle-mobile">CompSci student at Plymouth Uni</h3>
		<div class="navbar">
			<a routerLink="">Home</a>
			<p>/</p>
			<div class="dropdown">
				<button routerLink="/projects" class="dropbtn">Projects
					<app-icon [icon]="downArrow" width="1rem"></app-icon>
				</button>
				<div class="dropdown-content" #projectDropdown>
					<a routerLink="/projects/alexa">Alexa</a>
					<a routerLink="/projects/libraries">Libraries</a>
					<a routerLink="/projects/websites">Websites</a>
					<a routerLink="/projects/windows">Windows</a>
				</div>
			</div>
			<p>/</p>
			<div class="dropdown">
				<button routerLink="/university" class="dropbtn">University
					<app-icon [icon]="downArrow" width="1rem"></app-icon>
				</button>
				<div class="dropdown-content" #universityDropdown>
					<a routerLink="/university/year1">First Year</a>
					<a routerLink="/university/year2">Second Year</a>
					<a routerLink="/university/year3">Final Year</a>
				</div>
			</div>
			<p>/</p>
			<a routerLink="/about">About Me</a>
			<p>/</p>
			<a routerLink="/contact">Contact</a>
		</div>
	</div>
</div>