<perfect-scrollbar>
  <div class="container">
    <div class="mobile-menu-background" [class.is-open]="mobileMenuIsOpen" (click)="closeMobileMenu()">
      <div #mobileMenu class="mobile-menu">
        <ul class="navbar">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/projects/windows">Projects</a></li>
          <ul>
            <li><a routerLink="/projects/windows">Windows</a></li>
            <li><a routerLink="/projects/websites">Websites</a></li>
            <li><a routerLink="/projects/alexa">Alexa</a></li>
            <li><a routerLink="/projects/libraries">Libraries</a></li>
          </ul>
          <li><a routerLink="/university">University</a></li>
          <ul>
            <li><a routerLink="/university/year1">First Year</a></li>
            <li><a routerLink="/university/year2">Second Year</a></li>
            <li><a routerLink="/university/year3">Final Year</a></li>
          </ul>
          <li><a routerLink="/about">About Me</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a href="https://tobysmith568.github.io/cv/TobySmith.pdf" target="_blank">My CV</a></li>
        </ul>
      </div>
    </div>
    <app-header #header class="header"
              [scrollbar]="scrollbar"
              (menuToggled)="toggleMobileMenu()"></app-header>
    <div class="outer-content">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</perfect-scrollbar>