@import "/src/app/styles/sizes.scss";
@import "@lunelson/sass-calc";
@import "@lunelson/sass-lerp";

.site {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex-grow: 1;
  width: lerp(
    (
      1024px: 70%,
      525px: 90%
    ),
    100%
  );
  max-width: min(1000px, 90%);
  margin: 2em auto auto auto;
  min-height: 100%;
}
