---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Toby Smith">
	<main>
		TODO: Index page
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #000000;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
