---
import Anchor from "../Anchor.astro";
const year = new Date().getUTCFullYear();
---

<div class="footer">
  <div class="padding">
    <div>
      Copyright Toby Smith {year}
    </div>

    <div class="links">
      <span>
        <Anchor href="/terms" text="Terms" />
      </span>

      <span>
        <Anchor href="/privacy" text="Privacy" />
      </span>

      <span>
        <Anchor href="/cookies" text="Cookies" />
      </span>

      <span>
        <Anchor href="/third-party" text="Licenses" />
      </span>
    </div>
  </div>
</div>

<style lang="scss">
  $noHoverTextColor: lightgray;

  .footer {
    display: flex;
    justify-content: center;

    &:not(:hover) {
      opacity: 40%;
    }

    transition: opacity 0.2s ease-in-out;
  }

  .padding {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-height: 3rem;
    width: 800px;

    font-size: 0.8rem;
  }

  .links > * {
    padding-right: 0.2rem;
  }
</style>
