.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  background-color: dodgerblue;
  padding: 0 2em;

  .header-item {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
  }

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
