---

---

<div class="prose">
  <slot />
</div>

<style>
  .prose {
    p {
      text-align: justify;
    }

    code {
      color: var(--primary);
      font-size: 0.9rem;
    }

    :not(pre) code {
      font-weight: bold;
      margin: 0 0.2rem;
    }

    blockquote {
      margin: 1rem 0rem;
      padding: 1.5rem 2rem;
      position: relative;
      background: var(--primary-very-light);

      p {
        margin: 0;
      }
    }

    blockquote::before {
      content: "";

      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      top: 0;
      left: 0;

      border-top: var(--primary) 0.4rem solid;
      border-left: var(--primary) 0.4rem solid;
    }

    blockquote::after {
      content: "";

      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      bottom: 0;
      right: 0;

      border-bottom: var(--primary) 0.4rem solid;
      border-right: var(--primary) 0.4rem solid;
    }
  }
</style>
