.GH-badge-container.vertical.dark {
  background-color: #ddd;
}

.GH-badge-container.vertical.dark div,
.GH-badge-container.vertical.dark span,
.GH-badge-container.vertical.dark a,
.GH-badge-container.vertical.dark img,
.GH-badge-container.vertical.dark ul,
.GH-badge-container.vertical.dark li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.GH-badge-container.vertical.dark ul {
  list-style: none;
}

.GH-badge-container.vertical.dark a:focus {
  outline: thin dotted;
}

.GH-badge-container.vertical.dark a:active,
.GH-badge-container.vertical.dark a:hover {
  outline: 0;
}

.GH-badge-container.vertical.dark img {
  border: 0;
}

.GH-badge-container.vertical.dark a {
  color: #008cc9;
  text-decoration: none;
}

.GH-badge-container.vertical.dark a:hover,
.GH-badge-container.vertical.dark a:focus {
  text-decoration: underline;
  color: #005e93;
}

.GH-badge-container.vertical.dark a:visited {
  color: #008cc9;
}

.GH-badge-container.vertical.dark a:active {
  color: #005e93;
}

.GH-badge-container.vertical.dark a:visited:hover,
.GH-badge-container.vertical.dark a:visited:focus {
  color: #005e93;
  text-decoration: underline;
}

.GH-badge-container.vertical.dark a:visited:active {
  color: #005e93;
}

.GH-badge-container.vertical.dark {
  text-align: center !important;
}

.GH-badge-container.vertical.dark {
  border-radius: 2px;
  display: inline-block !important;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
  word-wrap: break-word;
  word-break: break-word;
}

.GH-badge-container.vertical.dark {
  font-family: sans-serif;
}

.GH-badge-container.vertical.dark .GH-profile-pic {
  border-radius: 10%;
}

.GH-badge-container.vertical.dark .GH-view-profile {
  max-width: 240px;
  white-space: inherit;
  height: auto;
}

.GH-badge-container.vertical.dark div,
.GH-badge-container.vertical.dark span,
.GH-badge-container.vertical.dark a,
.GH-badge-container.vertical.dark img,
.GH-badge-container.vertical.dark ul,
.GH-badge-container.vertical.dark li {
  text-decoration: none;
  line-height: normal;
  letter-spacing: normal;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.GH-badge-container.vertical.dark .GH-profile-pic-container {
  position: relative;
}

.GH-badge-container.vertical.dark .GH-header {
  margin: 0 10px;
}

.GH-badge-container.vertical.dark .GH-title {
  margin: 0 15px;
  font-size: 16px;
  line-height: 20px;
  color: #434649;
  color: rgba(0, 0, 0, 0.7);
  font-weight: normal;
}

.GH-badge-container.vertical.dark .GH-field {
  margin: 5px 15px 0;
  display: block;
  font-size: 13px;
  line-height: 17px;
  color: #737679;
  color: rgba(0, 0, 0, 0.55);
  font-weight: normal;
}

.GH-badge-container.vertical.dark .GH-field a {
  font-size: 13px;
  line-height: 17px;
  color: #737679;
  color: rgba(0, 0, 0, 0.55);
  font-weight: normal;
  text-decoration: none;
}

.GH-badge-container.vertical.dark .GH-field a:hover,
.GH-badge-container.vertical.dark .GH-field a:focus {
  text-decoration: none;
  color: #006fa6;
  cursor: pointer;
}

.GH-badge-container.vertical.dark .GH-field a:active {
  color: #005e93;
}

.GH-badge-container.vertical.dark .GH-field a:visited:hover,
.GH-badge-container.vertical.dark .GH-field a:visited:focus {
  color: #005e93;
  text-decoration: none;
}

.GH-badge-container.vertical.dark .GH-field a:visited:active {
  color: #005e93;
}

.GH-badge-container.vertical.dark .GH-view-profile {
  margin-top: 15px;
}

.GH-badge-container.vertical.dark .GH-profile-pic {
  position: inherit;
  border: 4px solid;
}

.GH-badge-container.vertical.dark .GH-logo {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
}

.GH-badge-container.vertical.dark .GH-icon {
  width: 85px;
  max-height: 20px;
}

.GH-badge-container.vertical.dark .GH-name {
  font-size: 22px;
  font-weight: normal;
  line-height: 24px;
  color: #434649;
  color: rgba(0, 0, 0, 0.7);
}

.GH-badge-container.vertical.dark .GH-name a {
  font-size: 22px;
  font-weight: normal;
  line-height: 24px;
  color: #434649;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.GH-badge-container.vertical.dark .GH-name a:hover,
.GH-badge-container.vertical.dark .GH-name a:focus {
  text-decoration: none;
  color: #006fa6;
  cursor: pointer;
}

.GH-badge-container.vertical.dark .GH-name a:active {
  color: #005e93;
}

.GH-badge-container.vertical.dark .GH-name a:visited:hover,
.GH-badge-container.vertical.dark .GH-name a:visited:focus {
  color: #005e93;
  text-decoration: none;
}

.GH-badge-container.vertical.dark .GH-name a:visited:active {
  color: #005e93;
}

.GH-badge-container.vertical.dark .more-info {
  padding-bottom: 16px;
}

.GH-badge-container.vertical.dark .GH-field {
  color: #000;
}

.GH-badge-container.vertical.dark .GH-field a {
  color: #000;
}

.GH-badge-container.vertical.dark .GH-title {
  color: #000;
}

.GH-badge-container.vertical.dark .GH-name {
  color: #000;
}

.GH-badge-container.vertical.dark .GH-name a {
  color: #000;
}

.GH-badge-container.vertical.dark .GH-profile-pic {
  border-color: #ddd;
  background-color: #ddd;
}

.GH-badge-container.vertical.dark .GH-profile-pic-container {
  background-color: #202326;
}

.GH-badge-container.vertical.dark a.GH-view-profile,
.GH-badge-container.vertical.dark a:visited.GH-view-profile {
  background-color: #e6ebf1;
  border: 1px solid rgba(27, 31, 35, 0.2);
}

.GH-badge-container.vertical.dark .GH-view-profile {
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  text-decoration: none !important;
  text-align: center;
  width: auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 0 13px;
  height: 31px;
  line-height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  white-space: nowrap;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

.GH-badge-container.vertical.dark .GH-view-profile:hover,
.GH-badge-container.vertical.dark .GH-view-profile:focus {
  background-color: #0077b5;
  border-color: rgba(27, 31, 35, 0.35);
}

.GH-badge-container.vertical.dark .GH-view-profile:active {
  background-color: #e6ebf1;
  border-color: rgba(27, 31, 35, 0.35);
}

.GH-badge-container.vertical.dark .GH-view-profile:hover,
.GH-badge-container.vertical.dark .GH-view-profile:visited {
  color: #24292e !important;
}

.GH-badge-container.vertical.dark {
  width: 100%;
}

.GH-badge-container.vertical.dark .GH-profile-pic {
  width: 100px;
  height: 100px;
  top: 30px;
}

.GH-badge-container.vertical.dark .GH-profile-pic-container {
  height: 85px;
}

.GH-badge-container.vertical.dark .GH-name {
  font-size: 20px;
}

.GH-badge-container.vertical.dark .GH-header {
  padding-top: 15px;
  margin-top: 50px;
}

.GH-badge-container.vertical.dark .GH-title {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}