@import '../../../../../styles.scss';

.downloads-content {
	text-align: center;
	margin: 20px;
}

.downloads-title {
	font-size: 22px;
	margin-bottom: 10px;
}

.downloads-list {
	text-align: left;
	margin: auto;
	width: fit-content;
	min-width: 60%;
	max-width: 100%;
	padding-left: 25px;
}

.downloads-bullet {
	font-size: 18px;
	color: $greyText;
	text-decoration: underline;
}

.downloads-bullet:hover {
	color: $blackText;
}