---
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import ProjectListItem from "../../components/Projects/ProjectListItem.astro";

const projects = await getCollection("projects");
const sortedProjects = projects.sort((a, b) => a.data.sortWeight - b.data.sortWeight);
---

<Layout title="My Projects">
  <h1>My Projects</h1>
  <p>A selection of the projects I've been working on recently.</p>

  {sortedProjects.map(project => <ProjectListItem project={project} />)}
</Layout>
