<div class="header">
  <h1 class="title" *ngIf="searchTerm">Results for "{{ searchTerm }}"</h1>
  <h1 class="title" *ngIf="!searchTerm">Posts</h1>

  <a class="rss" href="blog/rss" target="_blank">
    <span>RSS Feed</span>
    <span>
      <img class="rss-img" src="assets/img/rss.svg" alt="rss logo" />
    </span>
  </a>
</div>

<article *ngFor="let post of posts">
  <header>
    <h2>
      <a routerLink="/blog/{{ post.slug }}">{{ post.title }}</a>
    </h2>
    <h4>{{ post.date | date: "dd MMM, yyyy" }}</h4>
  </header>
  <div [innerHtml]="post.excerpt | safeHtml"></div>
  <hr />
</article>
