@import '../../../styles.scss';

.content {
	width: 100%;
	margin: 30px auto auto auto;
}

.header {
	background-color: $white;
	border-radius: 5px;
	padding: 10px 15px 15px 15px;
	text-align: center;
	margin: 30px 30px 30px 30px;
}

.category-title {
	font-size: 32px;
	text-transform: capitalize;
}

.category-description {
	margin-top: 10px;
	font-size: 18px;
}

.posts {
	padding: 0px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}

.post {
	background-color: white;
	margin: 30px;
}