@import "/src/app/styles/colours.scss";

:host {
  margin-right: 0.5em;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3em 0.6em 0.3em 0.3em;
  border: $blue 1px solid;
  border-radius: 2em;
  border-radius: 8px;
  background-color: $white;
  transition: 0.2s;
  font-size: 0.8em;
  text-decoration: none;
  color: black;
  background-color: #edf7ff;

  &:hover {
    background-color: $blue;
    color: $white;

    .icon {
      // https://codepen.io/sosuke/pen/Pjoqqp
      filter: invert(99%) sepia(0%) saturate(1278%) hue-rotate(107deg) brightness(114%) contrast(100%);
    }
  }
}

.icon {
  max-width: 1.5em;
  max-height: 1.5em;
  margin-right: 0.2em;
}

.label {
  margin-left: 0.3em;
  margin-right: 2em;
}
