<div class="header">
  <h1 class="title">Projects</h1>

  <a class="all underline" routerLink="all">
    <span>All Projects</span>
  </a>
</div>
<p class="subtitle">A selection of my best work to date, demonstrating some of my abilities</p>

<article *ngFor="let project of projects">
  <a class="project" routerLink="./{{ project.slug }}">
    <header>
      <h2>{{ project.title }}</h2>
      <h4>{{ project.subtitle }}</h4>
    </header>
    <div [innerHtml]="project.summary.html | safeHtml"></div>
  </a>
  <hr />
</article>
