@import "/src/app/styles/sizes.scss";

.container {
  position: absolute;
  top: 0;
  bottom: 10em;
  display: grid;
  align-items: center;
}

h1 {
  font-size: 4em;
  margin-bottom: 0px;
  margin-right: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media only screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
  }

  span {
    font-size: 2rem;
    color: grey;
    margin-left: 1em;
    animation: cycle 3s infinite;

    @media only screen and (max-width: 1024px) {
      margin-left: 0;
      &::before {
        display: none;
      }
    }

    &::before {
      content: "-";
      margin-right: 1rem;
    }
  }
}

@keyframes cycle {
  0% {
    opacity: 0%;
  }
  15% {
    opacity: 100%;
  }
  80% {
    opacity: 100%;
  }
  95% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
