@import "/src/app/styles/colours.scss";

article,
hr {
  margin: 1.5em 0em;
}

hr {
  border-bottom: $blue 2px solid;
}

header {
  h2 {
    margin-bottom: 0;
  }
  h4 {
    margin-top: 0.4em;
  }
}

a {
  text-decoration: none;
  position: relative;
  color: $black;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: $black;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
}
