/* You can add global styles to this file, and also import other style files */

$greyBackground: #1D1D1D;
$blueBackground: #1e73be;
$greyMenuText: #999999;
$greyText: #666666;
$greyHr: #00000014;
$whiteText: #FFFFFF;
$blackText: #000000;

$white: #FFFFFF;
$black: #000000;

$content-width: 70%;

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: 'Roboto Slab', sans-serif;
}

::selection {
	background: $greyMenuText; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: $greyMenuText; /* Gecko Browsers */
}