<div>
	<div class="content">
		<div class="header">
			<h1 class="header-title">Contact Me</h1>
			<p class="header-description">Please feel free to use any method below to contact me</p>
		</div>

		<div class="main-content">

			<div class="area">
				<form class="contact-form" *ngIf="!messageSent">
					<h3 class="form-title">Contact form</h3>
					<p>Your name:<span class="required">*</span></p>
					<input class="input" type="text" name="name" [(ngModel)]="name"><br>
					<p>Your email:<span class="required">*</span></p>
					<input class="input" type="email" name="email" [(ngModel)]="email"><br>
					<p>Message:<span class="required">*</span></p>
					<textarea class="message" name="message" [(ngModel)]="message"></textarea><br>
					<p class="error-message" *ngFor="let error of errors">{{ error }}</p>
					<input class="submit" type="button" value="Submit" (click)="onSubmit()">
				</form>

				<div class="success" *ngIf="messageSent">
					<div class="success-message">Message successfully sent!</div>
				</div>
			</div>

			<div class="area details-grid">
				<a class="contact-method" href="mailto:tobysmith568@hotmail.co.uk" target="_blank">
					<img src="assets\img\email.png" />
					<div class="contact-details">
						<h3 class="contact-method-title">Email</h3>
						<div>It is generally best to get in contact with me via email here: tobysmith568@hotmail.co.uk</div>
					</div>
				</a>
				<a class="contact-method" href="https://tobysmith.uk/linkedin" target="_blank">
					<img src="assets\img\linkedin.png" />
					<div class="contact-details">
						<h3 class="contact-method-title">LinkedIn</h3>
						<div>For professional communication you can also contact me on Linkedin</div>
					</div>
				</a>
				<a class="contact-method" href="https://tobysmith.uk/github" target="_blank">
					<img src="assets\img\github.png" />
					<div class="contact-details">
						<h3 class="contact-method-title">Github</h3>
						<div>While not for communication, you can also find me and all of my projects on Github</div>
					</div>
				</a>
				<a class="contact-method" href="https://tobysmith.uk/messenger" target="_blank">
					<img src="assets\img\messenger.png" />
					<div class="contact-details">
						<h3 class="contact-method-title">Messenger</h3>
						<div>If you're looking for an informal chat, feel free to reach me on Facebook Messenger</div>
					</div>
				</a>
			</div>

		</div>
		
		<re-captcha #captchaRef="reCaptcha" size="invisible" siteKey="6LevB28UAAAAANT7QerDGOfqQcGb1JCoM3bPPbgE"
				(resolved)="resolved($event)"></re-captcha>
	</div>
</div>