<div>
	<div class="content">
		<div class="header">
			<h1 class="header-title">Contact Me</h1>
			<p class="header-description">Please feel free to use any method below to contact me</p>
		</div>

		<div class="main-content">

			<div class="area">
				<form class="contact-form" *ngIf="!messageSent">
					<h3 class="form-title">Contact form</h3>
					<p>Your name:<span class="required">*</span></p>
					<input class="input" type="text" name="name" [(ngModel)]="name"><br>
					<p>Your email:<span class="required">*</span></p>
					<input class="input" type="email" name="email" [(ngModel)]="email"><br>
					<p>Message:<span class="required">*</span></p>
					<textarea class="message" name="message" [(ngModel)]="message"></textarea><br>
					<p class="error-message" *ngFor="let error of errors">{{ error }}</p>
					<input class="submit" type="button" value="Submit" (click)="onSubmit()">
				</form>

				<div class="success" *ngIf="messageSent">
					<div class="success-message">Message successfully sent!</div>
				</div>
			</div>

			<div class="area">
				<app-list class="contact-list">
					<app-list-item icon="assets\img\email.png" header="Email" href="mailto:tobysmith568@hotmail.co.uk" content="It is generally best to get in contact with me via email here: tobysmith568@hotmail.co.uk"></app-list-item>
					<app-list-item icon="assets\img\linkedin.png" header="LinkedIn" href="https://tobysmith.uk/linkedin" content="For professional communication you can also contact me on Linkedin"></app-list-item>
					<app-list-item icon="assets\img\github.png" header="Github" href="https://tobysmith.uk/github" content="While not for communication, you can also find me and all of my projects on Github"></app-list-item>
					<app-list-item icon="assets\img\messenger.png" header="Messenger" href="https://tobysmith.uk/messenger" content="If you're looking for an informal chat, feel free to reach me on Facebook Messenger"></app-list-item>
				</app-list>
			</div>
	</div>
	<re-captcha #captchaRef="reCaptcha" size="invisible" siteKey="6LevB28UAAAAANT7QerDGOfqQcGb1JCoM3bPPbgE"
			(resolved)="resolved($event)"></re-captcha>
</div>