@import '../../../../styles.scss';

hr {
	margin: 0px;
	border-top: 1px solid $greyHr;
	margin: 20px -20px;
}

input, textarea {
	border: 1px black solid;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

textarea {
	resize: vertical;
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: stretch;
}

input.submit {
	background-color: rgb(216, 216, 216);
	cursor: pointer;
	width: 75px;
}

.content {
	width: $content-width;
	margin: auto;
	padding: 0px 20px;
}

.title {
	background-color: $white;
	border-radius: 5px;
	padding: 10px 15px 15px 15px;
	text-align: center;
	margin: 30px 30px 30px 30px;
}

.title h1 {
	font-size: 32px;
	text-transform: capitalize;
}

.title p {
	margin-top: 10px;
	font-size: 18px;
}

.main-content {
	padding: 0px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}

.area {
	background-color: $white;
	border-radius: 5px;
	margin: 30px;
	padding: 20px;
}

.contact-form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.form-title {
	font-size: 20px;
	margin-bottom: 10px;
}

.required, .error-message {
	color: red;
}

.input {
	width: 250px;
	max-width: 100%;
}

.message {
	flex-grow: 1;
	min-height: 150px;
}

.success {
	font-size: 26px;
	color: #a5a5a5;
	user-select: none;
	text-align: center;
}

.success-message {
	margin: auto;
}

.details-grid {
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.contact-method {
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	color: $blackText;
	text-align: center;
	display: flex;
	flex-direction: row;
}

.contact-method:hover {
	background-color: rgb(235, 235, 235);
}

.contact-method img {
	flex-grow: 1;
	max-width: 80px;
	margin: auto;
}

.contact-details {
	margin: auto 20px;
}

.contact-method-title {
	margin-bottom: 5px;
}