---
import Header from "../components/BaseLayout/Header.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body>
    <Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
    --primary: dodgerblue;
    --primary-text: white;
	}

	html {
		font-family: Blinker, sans-serif;
		background: #f8f8f8;
	}

  body {
    margin: 0;
    padding: 0;

    font-size: 1.1em;
  }

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
