---
import ProseLayout from "./ProseLayout.astro";

interface Props {
  title: string;
  description: string;
  noIndex?: boolean;
}
---

<ProseLayout {...Astro.props}>
  <div class="policy-wrapper">
    <slot />
  </div>
</ProseLayout>

<style>
  .policy-wrapper {
    font-size: 1rem;
  }
</style>
