<a class="item" #link target="_blank" (click)="click()">
	<img class="icon" src="{{ icon }}" />
	<div class="details">
		<h3 class="header">{{ header }}</h3>
		<div class="content">{{ content }}</div>
	</div>
	<app-icon class="external" [icon]="externalIcon"></app-icon>
</a>
<ngx-smart-modal custom-class="nsm-centered" #modal identifier="{{ header }}">
	<h1 class="modal-header">{{ header }}</h1>
	<hr />
	<div class="content">
		<ng-content></ng-content>
	</div>
	<div class="bottom-bar">
		<button class="close" (click)="modal.close()">Close</button>
	</div>
</ngx-smart-modal>