name: CI

on:
  push:
    branches:
      - renovate/*
  pull_request:
    branches:
      - main
  workflow_call:

env:
  NODE_VERSION: 22

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: tobysmith568/actions/.github/actions/checkout-pnpm-project@main

      - name: Run Prettier
        run: pnpm exec prettier --check .

  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: tobysmith568/actions/.github/actions/checkout-pnpm-project@main

      - name: Build
        run: pnpm run build

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./dist

  e2e:
    strategy:
      fail-fast: false
      matrix:
        browser:
          - chrome
          - firefox

    name: E2E test (${{ matrix.browser }})

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: tobysmith568/actions/.github/actions/checkout-pnpm-project@main

      - name: Install Cypress
        run: pnpm exec cypress install

      - name: Create development build
        run: pnpm exec astro build --mode development

      - name: Run E2E tests
        uses: cypress-io/github-action@v6
        with:
          browser: ${{ matrix.browser }}
          start: pnpm run preview
          wait-on: http://localhost:4321

      - name: Upload E2E screenshots
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: E2E Screenshots
          path: cypress/screenshots/
          if-no-files-found: ignore

      - name: Upload E2E videos
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: E2E Videos
          path: cypress/videos/
          if-no-files-found: ignore
