@import '../../../styles.scss';

.post {
	width: $content-width;
	margin: 30px auto auto auto;
	padding: 0px;
	display: grid;
	grid-template-columns: 100%;
}

.post-with-sidebar {
	grid-template-columns: 75% 25%;
}

.content {
	background-color: $white;
	border-radius: 5px;
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.main-content {
	padding: 0px 20px 20px 20px;
	margin-top: 0px;
}

.comments {
	padding-left: 20px;
	padding-right: 20px;
}

.element {
	padding: 20px;
}

.sidebar {
	height: fit-content;
}

.title {
	text-align: center;
	font-size: 42px;
	font-weight: bold;
	padding: 20px;
}

.split {
	margin: 0px;
  border-top: 1px solid #00000014;
}